{% extends 'base.html' %}

{% block content %}

    <form action="" method="get">
        {% csrf_token %}
        <select name="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Filter"/>
    </form>

    <div>
        <table>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Username</th>
                <th>Price</th>
            </tr>

            {% for data in listings %}
                <tr>
                    <td>{{ data.name }}</td>
                    <td>{{ data.category }}</td>
                    <td>{{ data.user.username }}</td>
                    <td>₴{{ data.price }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}